body{
background-color: orange;
}

h1{
font-size:45px;
color: white;
}

li{
font-size: 35px;
color: white;
}

p{
color: white;
font-size: 25px;
}

#container{
	width: 70%;
	margin: auto;
	padding: 30px;
	border: 1px solid #666;
	background: orange;
}
